$teal: #07A8C4;
$dark-blue: #181347;
$dark-blue-ending: #231c5f;
$petrol: #5A7184;
$light-blue: #F6fAFF;
$green: #36B37E;
$light-grey: #E5EAF4;
$ultra-light-grey: #F9FBFE;
$brown: #2e2e36;
$base-font-weight: 400;
$assetPath : "/app/themes/vollcom-digital/inc/assets/images";
$imageDecoLeftPathDark : "/app/themes/vollcom-digital/inc/assets/images/points-left-dark.svg";
$imageDecoLeftPathLight : "/app/themes/vollcom-digital/inc/assets/images/points-left-light.svg";