/* Pagination */
.page-numbers {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border: 1px solid #D9E4EB;
    border-radius: .25rem;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.page-numbers .current {
    color: #fff;
    background-color: #07a8c4;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    font-size: .9rem;
    border: 0;
    outline: 0;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
}

.page-numbers li a {
    font-size: .9rem;
    color: #092930;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
}

.page-numbers li a:first-child {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-numbers li a:hover {
    background-color: #D9E4EB;
    border-radius: .125rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
