.lwptoc {
  &:first-child {
    margin-top: 0 !important;
  }
}

.lwptoc_i {
  padding: 1rem !important;
}

.lwptoc_item {
  font-size: 1rem !important;
}

.lwptoc_title {
  font-weight: bold !important;
}